PORT=9999
MONGO_URI=mongodb://localhost:27017/vcmos_db
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/vcmos_db
JWT_SECRET=change_me
FRONTEND_URL=http://localhost:3000
CLOUDINARY_URL=
EMAIL_USER=
EMAIL_PASS=
